body {
   background: image-url('debut_light.png');
}

.currentBidder {
    background: #dff0d8;
}

.lostDie {
    background: red;
}

.noDice {
    background: #ccc;
}

.gameRow {
     min-height: 100px;
     font-size: 16px;
}

div.player {
     border-radius: 10px;
     padding: 10px 15px;
}

.currentPlayer {
     border: 1px solid #d6e9c6;
}

.calledBS {
     border: 1px solid red;
}

#number {
     width: 30px;
     margin: 10px 10px 10px 0;
}

#face_value {
     margin-top: 5px;
     font-size: 30px;
     border: 1px solid #ccc;
}