.currentBidder {
    background: aquamarine;
}

.lostDie {
    background: red;
}

.noDice {
    background: lightgray;
}

.gameRow {
     min-height: 100px;
     font-size: 16px;
}

.currentPlayer {
     border: 1px solid blueviolet;
}

.calledBS {
     border: 1px solid red;
}