html, body, .container-fluid, .game_content {height: 97.5%}

body {
   background: image-url('debut_light.png');
}

.player {
     border-radius: 10px;
     padding: 10px 15px;
     background: rgba(255, 255, 255, 0.5);
}

.currentPlayer {
     border: 1px solid #e07938;
     hr {
       border-top: 1px solid #e07938;
       margin: 10px 0;
     }
     .btn {
       margin-top: 10px;
     }
     #number {
       width: 30px;
       margin: 10px 10px 10px 0;
     }
     #face_value {
       margin-top: 5px;
       font-size: 30px;
       border: 1px solid #ccc;
     }
     #bid {
       width: 75px;
       border-right-color: #fff;
     }
     #bs {
       width: 75px;
       margin-left: 20px;
     }
     #plusOne {
       width: 50px;
       border-left-color: #fff;
     }
}

.currentBidder {
    background: #dff0d8;
}

.lostDie {
    background: red;
}

.noDice {
    background: #ccc;
}

.gameRow {
     min-height: 100px;
     font-size: 16px;
}

.calledBS {
     border: 1px solid red;
}

#chat {
  height:100%;
  border-right:1px solid #ccc;
  ul {
    height:80%;
    overflow:auto;
    li {
      span.handle {
        font-weight:bold;
      }
    }
  }
  form {
    position:absolute;
    bottom:0;
    background: image-url('debut_light.png');
    padding:20px 0;
    textarea {
      border-radius:5px;
      width:90%;
      border:1px solid #ccc;
      margin:0 0 10px;
    }
  }
}

.diceTable {
     margin-bottom: 10px;
     th, td {
         border: 1px solid #ccc;
         padding: 5px;
     }
     tr.diceTotals {
         font-weight: bold;
     }
}