.waiting-container {
  margin-top: 25px;
}

.waiting-panel {
  border: 1px solid #ccc;
  font-size: 24px;
  padding: 5px 20px;
}

.invite-form .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 10px;
}